import { OpenApi } from '@newageerp/nae-react-auth-wrapper';
import React, { useEffect } from 'react'
import { BrowserRouter as Router, Switch } from 'react-router-dom';

export interface AppRouterRoute {
    path: string
    comp: any,
    exact?: boolean
}

export interface AppRouterProps {
    children?: any,
}

export default function AppRouter(props: AppRouterProps) {
    const [loadData, loadDataParams] = OpenApi.useURequest('NAEPing');
    useEffect(loadData, []);

    if (loadDataParams.loading || loadDataParams.data.data.length === 0) {
        return <div>Loading...</div>
    }

    return (
        <Router>
            <Switch>
                {props.children}
            </Switch>
        </Router>
    )
}
