import { OpenApi, Hooks } from '@newageerp/nae-react-auth-wrapper';
import React, { useEffect, useState } from 'react'
import { BrowserRouter as Router, Switch } from 'react-router-dom';
import { Redirect, useLocation } from 'react-router-dom'
import axios from 'axios'
import { atom, useRecoilState } from 'recoil';

export interface AppRouterRoute {
    path: string
    comp: any,
    exact?: boolean
}

export interface AppRouterProps {
    noAuthRoutes?: any,
    authRoutes?: any,
    children?: any
}

export default function AppRouter(props: AppRouterProps) {
    const [isUserDataLoading, setIsUserDataLoading] = useState(true);
    const [userState, setUserState] = useRecoilState(OpenApi.naeUserState)

    const [getUserData, getUserDataParams] = OpenApi.useURequest('NAEauthGetProfile')

    useEffect(() => {
        getUserData();
    }, [])
    useEffect(() => {
        setUserState(getUserDataParams.data)
    }, [getUserDataParams.data])

    const isLoggedIn = !!userState && ('id' in userState);
    const _isUserDataLoading = isUserDataLoading && !userState;

    if ( _isUserDataLoading) {
        return <div>Loading...</div>
    }

    return (
        <Router>
            <Switch>
                {props.noAuthRoutes}
            </Switch>
            {isLoggedIn && props.authRoutes}
            {props.children}
        </Router>
    )
}
