import { OpenApi } from '@newageerp/nae-react-auth-wrapper';
import React, { useEffect } from 'react'
import { BrowserRouter as Router, Switch } from 'react-router-dom';
import { Redirect, useLocation } from 'react-router-dom'
import 'axios' from 'axios'

export interface AppRouterRoute {
    path: string
    comp: any,
    exact?: boolean
}

export interface AppRouterProps {
    noAuthRoutes?: any,
    authRoutes?: any,
}

export default function AppRouter(props: AppRouterProps) {
    const location = useLocation();

    const getUserData = () => {
        axios.post('/app/nae-core/auth/get').then(res => {
            if (res.status === 200) {
                setUserState(res.data)
            }
        });
    }

    const [userState, setUserState] = useRecoilState(naeUserState)

    const [loadData, loadDataParams] = OpenApi.useURequest('NAEPing');
    useEffect(loadData, []);

    useEffect(getUserData, [])

    const isLoggedIn = !!userState && ('id' in userState);

    if (getUserDataParams.loading) {
        return <Fragment />
    }

    if (loadDataParams.loading || loadDataParams.data.data.length === 0) {
        return <div>Loading...</div>
    }

    return (
        <Router>
            <Switch>
                {props.noAuthRoutes}
                {isLoggedIn && props.authRoutes}
            </Switch>
        </Router>
    )
}
